#register-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #FB774B;
}

#register-form input {
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn {
    background: #FB774B;
    color: #FFF;
}

#register-form #register_url {
    color: #FB774B;
}